<app-navbar></app-navbar>
<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        <h1><b>Don't wait in Queue...</b></h1>
        <h2>Book Your Slot Now!!</h2>
        <br>
        <div class="">
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="btn btn-dark" (click)='checkSession()'>Book Now</button>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="assets/saloon.jpg" alt="">
        </div>
    </div>
</div>
